<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>User Id: <%=chat._id%></h3>

    <p>
        From: <%=chat.from%>
        <br>
        To: <%=chat.to%>
    </p>
    <form method="POST" action="/chats/<%=chat._id%>?_method=PUT">
        <textarea name="msg" rows="6" cols="40"> <%=chat.msg%></textarea>
        <br><br>
        <button>Edit Chat</button>
    </form>
</body>
</html>